# Import cache
.import/

# Binaries
bin/
build/
lib/
Client/bin/
Client/build/
Client/lib/
Server/bin/
Server/build/
Server/lib/


# Mac folder properties
.DS_Store

# Binary translations
*.translation

# Export presets
export_presets.cfg

# OS specific plugin files
git_api.gdnlib
git_api.gdns
