# Import cache
.import/

# Binaries
bin/
build/
lib/

# Mac folder properties
.DS_Store

# Binary translations
*.translation

# Export presets
export_presets.cfg

# OS specific plugin files
git_api.gdnlib
git_api.gdns
